<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.helloworld"
          android:versionCode="1"
          android:versionName="1.0">
    <uses-sdk android:minSdkVersion="13"
            android:targetSdkVersion="17"/>

    <application android:label="@string/app_name" android:icon="@drawable/reflex_icon">
        <activity android:name="MainActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".Level1"/>
        <activity android:name=".Menu"/>
        <activity android:name=".Lose"/>
        <activity android:name=".Level2"/>
        <activity android:name=".Level3"/>
        <activity android:name=".Level4"/>
        <activity android:name=".Level4"/>
        <activity android:name=".Level4"/>
        <activity android:name=".Win"/>
    </application>
</manifest>
